:root {
    --switch-red: #FF3C28;
    --switch-blue: #0AB9E6;
    --background-color: hsla(192, 19%, 98%, 1);
    --card-corner-radius: 12px;
    --yellow: hsla(52, 100%, 47%, 1);
    --card-background: white;
}

html, body {
    height: 100%;
    font-size: 18px;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 50px;
}

button {
    border: none;
    cursor: pointer;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--switch-blue);
    text-decoration-thickness: 3px;
    text-decoration: underline;
}

.mb-md {
    margin-bottom: 10px;
}

.mx-auto {
    margin-inline: auto;
}

.d-block {
    display: block;
}

h2 {
    font-size: 1.7rem;
}

nav {
    width: 100%;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    padding: 5px 0;
    background-color: var(--background-color);
}

.container {
    max-width: 1000px;
    margin-inline: auto;
}

section.container {
    margin-bottom: 40px;
}

nav .nav-icon {
    --size: 45px;
    width: var(--size);
    height: var(--size);
    border-radius: 25%;
}

.nav-content {
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

nav .presskit-link {
    margin-left: auto;

}

nav .nav-title {
    font-size: 1.4rem;
    font-weight: bolder;
}

.hero {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 60px;
}

.hero .hero-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.hero h1 {
    margin-bottom: 30px;
}

.name-header {
    font-size: 5rem;
    margin-top: 50px;
    margin-bottom: 5px;
    transition: 0.1s;
}

.subtle-shadow {
    -webkit-box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

#reviewsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 15px;
    margin-top: 20px;
}

.review-card {
    padding: 20px;
    background-color: var(--card-background);
    border-radius: var(--card-corner-radius);
    display: flex;
    flex-direction: column;
}

.review-card .review-title {
    font-weight: bolder;
    line-height: 1;
    font-size: 0.9rem;
}

.review-card .review-text {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 10px;
}

.review-card .review-by {
    margin-top: auto;
    text-align: right;
    font-size: 0.8rem;
}

.review-stars {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.review-stars > svg {
    width: 18px;
    height: 18px;
    color: var(--yellow);
}

#featuresContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 15px;
    margin-top: 20px;
}

.feature-card {
    background-color: var(--card-background);
    border-radius: var(--card-corner-radius);
    padding: 15px;
}

.feature-card .feature-title {
    font-weight: bolder;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    font-size: 0.9rem;
}

.feature-card .feature-text {
    opacity: 0.8;
    font-size: 0.9rem;
}

section.screenshots-container {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 5px;
    margin-top: 60px;
}

.screenshots-container > img {
    max-height: 530px;
    border-radius: 5px;
    cursor: zoom-in;
}

.screenshots-container img:last-child {
    margin-right: auto;
}

.screenshots-container img:first-child {
    margin-left: auto;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.features-list > div {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.features-list > div > img {
    width: 17px;
    height: auto;
    margin-right: 7px;
    transition: 0.2s;
}

.features-list > div:hover > img {
    transform: rotate(45deg);
}

.features-list > div > p {
    margin: 0;
    opacity: 0.9;
}

.badges-container {
    display: flex;
}

.gradient-text {
    background: linear-gradient(to left, hsla(205, 98%, 47%, 1), hsla(205, 98%, 67%, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Gallery styles */
#galleryContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    background-color: rgba(0 0 0 / 0.90);
    display: none;
    overflow: hidden;
}

#galleryContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#galleryContainer #mainImage {
    display: block;
    max-width: 90%;
    max-height: 85%;
    margin-inline: auto;
    z-index: 10;
}

#galleryCloseButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: rgba(0 0 0 / 0.95);
    color: white;
}

#currentTotalSummaryLabel {
    font-size: 0.9rem;
    color: lightgrey;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace, monospace;
}

#mainImage {
    border-radius: 5px;
}

.paging-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    padding: 5px;
    background-color: var(--switch-blue);
}

.paging-button > svg {
    width: 50px;
    height: 50px;
}

#leftButton {
    left: 0px;
}

#rightButton {
    right: 0px;
}

@media only screen and (max-width: 700px) {
    .name-header {
        font-size: 2.5rem;
        margin-top: 50px;
    }

    .tagline {
        font-size: 1.3rem;
        font-weight: 200;
    }

    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    .features-list {
        margin-left: 40px;
        margin-right: 40px;
    }

    .features-list > div {
        flex-basis: 100%;
    }

}

@media only screen and (max-width: 400px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .badges-container {
        flex-direction: column;
    }

    .badges-container .appstore-badge > img {
        width: 200px !important;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    .badges-container .appstore-badge {
        margin-left: 0 !important;
    }

}

.lightning-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z' clip-rule='evenodd' /%3E%3C/svg%3E");
}